<!DOCTYPE html>
<html>
<head>
    <title>News Highlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/styles.css') }} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid articles">
        <div>
            <br><br>
        </div>
            <div class="overlay">
                <h1 class="text-white txt">{{source}} News Updates</h1>
            </div>
    
        <div class="container">
        <div class="card-columns" style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:40px;">
            {% for source in sources %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{source.id}}</h6>
                    <p class="card-text">{{ source.description}}</p>
                    <a href={{ source.url}} class="card-link">{{ source.url}}</a>
                    <a href=/article/{{source.id}} class="card-link">{{ source.name}}</a>


                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
